<div>
  <form method="post">
    <label>Title:</label><br>
    <input #title><br>
    <p>{{title.value}}</p>
    <label>Text:</label><br>
    <input #text><br>
    <p>{{text.value}}</p>
    <label>Image Link:</label><br>
    <input #imageLink><br>
    <p>{{imageLink.value}}</p>
    <button (click)="add(title.value, text.value, imageLink.value)">Add</button>
  </form>
</div>
<input #fileInput type="file"/>
<button (click)="addFile()">Add</button>
<button id="pushpad-button">Subscribe</button>


<div>
  <form method="post">
    <label>Name:</label><br>
    <input #projName><br>
    <label>website:</label><br>
    <input #projWeb><br>
    <input #icon type="file"/>
    <button (click)="newProject()">Add</button>
  </form>
</div>
